<h2><%= t('front.users.sign_up')  %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <label for="password"> <%= t('front.users.passwords.password') %></label>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> <%= t('front.users.passwords.password_lenght')%></em>
    <% end %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <label for="password_confirmation"> <%= t('front.users.passwords.password_confirmation') %></label></br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit t('front.users.sign_up') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
