<h2><%= t('front.users.sign_in') %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <label for="password"> <%= t('front.users.passwords.password') %></label></br>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <label for="remember_me"> <%= t('front.users.remember_me') %></label>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit t('front.users.sign_in') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
