<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><%= t('header.home')%><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= t('header.about') %></a>
      </li>
      <% if current_user %>
      <li class="nav-item">
	<%= link_to t('header.sign_out'), destroy_user_session_path, method: 'delete', class: 'nav-link' %>
      </li>
      <% else %>
      <li class="nav-item">
	<%= link_to t('header.sign_in_sign_up'), user_session_path, class: 'nav-link' %>
      </li>
      <% end %>
  </div>
  </ul>
</nav>
